<!DOCTYPE html>
<html>
<head>
  <title>Fgok</title>
	<%= render 'layouts/shared/head' %>
</head>
<body>

<div class='row'>
	<div class='col-md-3 col-sm-4 col-xs-12'>
		<div class='col-left'>
			<div id='logo'>
				<%= image_tag 'logo.png' %>
			</div>
			<%= render 'layouts/menu' %>
		</div>
	</div>

	<div class='col-md-8 col-sm-8 col-xs-12'>
		<div class='col-right'>
			<%= yield %>
		</div>
	</div>
</div>


</body>
</html>
